/**
 * Created by RohanNeha on 9/17/2018.
 */
.THIS#calendar .fc-today {
   background: #fff !important;
   border-top: 1px solid #dddddd !important;
}

.THIS .calendar_component__spinner {
    top: 0%;
    left: 75%;
}
.THIS.error-message-div {
    margin-bottom: 5px !important;
}